@import "./bottom.css";

body {
  background-color: #26b4bc;
  font-family: "Lato", sans-serif;
  font-size: 17px;
}

.wrapper {
  margin: 0 auto;
  max-inline-size: 900px;
}

.player {
  margin-block-start: 60px;
  position: relative;
}

.player video {
  aspect-ratio: 16/9;
  inline-size: 100%;
  object-fit: cover;
  vertical-align: middle;
}

.player-title {
  color: white;
  font-weight: 500;
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 20px;
}

.player-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: absolute;
  inset: 0;
}

.player-progress {
  display: flex;
  padding: 10px;
  position: absolute;
  inset-block-end: 0;
  inset-inline: 0;
}

.player-progress input {
  flex: 1;
}

.player-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 0.3s opacity;
}

.player:hover .player-overlay {
  opacity: 1;
  transition: 0.3s opacity;
}

@media only screen and (max-width: 785px) {
  .player {
    margin-block-start: 100px;
  }

  .player-title {
    font-size: 14px;
  }
}
